<mat-toolbar color="primary">
    <span>Task Management App</span>

    <span class="spacer"></span> 
    <ng-container *ngIf="authService.isLoggedIn(); else unauthenticated">
        <button mat-button routerLink="/tasks" class="whiteText">Tasks</button>
        <button mat-button routerLink="/projects" class="whiteText">Projects</button>
        <button mat-button routerLink="/categories" class="whiteText">Categories</button>

        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="userMenu" class="whiteText">
            {{ authService.getUserFullName() || 'User' }} <mat-icon>arrow_drop_down</mat-icon> </button>

        <mat-menu #userMenu="matMenu" class="subMenu">
            <button mat-menu-item routerLink="/profile"><mat-icon>account_circle</mat-icon>Profile</button>
            <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
        </mat-menu>
    </ng-container>
    <ng-template #unauthenticated>
        <button mat-button routerLink="/login">Login</button>
        <button mat-button routerLink="/register">Register</button>
    </ng-template>
</mat-toolbar>